.headerContainer {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem 0.4rem 0.3rem 3rem;
    background: #fff;
    box-shadow: 0 6px 7px -6px #d4d4d9;

    img {
        padding-left: 150px;
    }

    p {
        display: flex;
        width: 35%;
        padding: 0.7em;
        background: #000;

        // .btn {
        //     position: fixed;
        //     top: 5rem;
        //     right: 5rem;
            
        //     &_burger {
        //         width: 2rem;
        //         height: 6px;
        //         background: white;
        //     }
        // }
     
        span {
            color: #fff;
            width: 25px;
            margin-right: 1rem;
        }
    }

}