.sidebarContainer {
    img {
        margin-left: 0.5rem;
    }

    padding: 3rem 4rem; //vertical horizontal
    width: 26.5rem;
    height: 100vh;

    background: #000;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}